
#board{
  background-color: rgb(46, 143, 182);
  background-image: url("../Image/background\ game.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
  width: 100vw;
  height: 100vh;
}

.snake {
  background-image: url(../Image/background\ game.jpeg);
  position: absolute;

}

.red-square {
  background-image: url(../Image/download.png);
  background-repeat: no-repeat;
  position: absolute;
}
