
#board{
  background-color: rgb(46, 143, 182);
  background-image: url("../Image/Download\ Retro\ Game\ Background\ for\ free.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
  width: 100vw;
  height: 100vh;
  position: absolute;
}

.snake {
  background-image: url(../Image/500_F_211543376_kv7x0SwdITkWbqajGzglhcvZV25AsPsS.jpeg);
  position: absolute;
  border-radius: 25%;

}

.insect {
  background-image: url(../Image/beetle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: absolute;
}


#score {
  position: fixed;
  display: flex;
  /* background-color: #322240; */
  background-image: url(../Image/Screenshot\ 2022-06-30\ at\ 14.17.22.png);
  z-index: 1000;
  width: 15vw;
  height: 15vh;
  align-items: center;
  justify-content: center;
  border-radius: 10%;
  box-shadow: #110b16;
  color: white;
  font-size: 32px;



}
