
#board{
  background-color: rgb(46, 143, 182);
  background-image: url("../Image/background\ game.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: auto;
  width: 100vw;
  height: 100vh;
}

.snake {
  background-color: rgb(2, 114, 2);
  position: absolute;
}

.red-square {
  background-color: rgb(155, 6, 6);
  position: absolute;
}
